[submodule "3rd_party/SqlQueryExecutor"]
	path = 3rd_party/SqlQueryExecutor
	url = https://github.com/SSemenkin/SqlQueryExecutor.git
[submodule "3rd_party/MapGraphics"]
	path = 3rd_party/MapGraphics
	url = https://github.com/SSemenkin/MapGraphics.git
[submodule "3rd_party/QSimpleUpdater"]
	path = 3rd_party/QSimpleUpdater
	url = https://github.com/SSemenkin/QSimpleUpdater.git
